.heading {
  composes: display2 from "../typography.css";
  text-align: center;
  padding-top: 20px;
}
.word {
  composes: clearfix from "../common.css";
  float: left;
  margin: 0 5px 5px 0;
}
.wordGroup {
  composes: wordGroup from "./create-phrase.css";
  margin: 0 auto;
  width: 85%;
  padding-top: 20px;
}
.addWords {
  margin: 0 auto;
  width: 85%;
}
