.root {
  margin-top: 20px;
  text-align: center;
  composes: appFont from "../../lib/css/typography.css";
}
.createdBy {
  composes: body1 from "../../lib/css/typography.css";
  color: #969696;
  text-transform: lowercase;
  margin-right: 4px;
}
