.root {
  composes: main from "./app.css";
}
.wordGroup {
  position: relative;
}
.person {
  margin-top: 20px;
  text-align: center;
  composes: appFont from "../typography.css";
}
.createdBy {
  composes: body1 from "../typography.css";
  color: #969696;
  text-transform: lowercase;
  margin-right: 4px;
}
.slider {
  composes: appFont from "../typography.css";
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  margin-top: 60px;
}
